<div class="section-wrapper">
    <section class="section" id="about">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">About Me</div>
            <div class="two-paragraph-grid">
                <div class="paragraph-text align-left-text">
                    <h2 class="experience-section-title">Experience</h2>
                    <div class="border-left">
                        <div class="experience-title">Software Engineer</div>
                        <div class="experience-location">znt Centers for New Technologies Malaysia Sdn.Bhd. (Penang, Malaysia)</div>
                        <div class="experience-date slightly-smaller-text">Jun 2021 - present</div>
                        <div class="experience-details">Digitalize, optimize and automate IT processes of different industries worldwide using Opcenter MES and Angular.</div>
                        <br>
                        <div class="experience-title">Internship</div>
                        <div class="experience-location">KPMG Management & Risk Consulting Sdn. Bhd. (Kuala Lumpur, Malaysia)</div>
                        <div class="experience-date slightly-smaller-text">Oct 2020 - Jan 2021</div>
                        <div class="experience-details">Enhance web development on automating tax needs using Django and MSSQL. Built a chat bot using RASA framework as a side project.</div>
                    </div>
                </div>
                <div class="paragraph-text align-left-text">
                    <h2 class="experience-section-title">Education</h2>
                    <div class="border-left">
                        <div class="experience-title">Bachelor of Information Technology (Honours) Communications and Networking</div>
                        <div class="experience-location">Universiti Tunku Abdul Rahman (UTAR)</div>
                        <div class="experience-date slightly-smaller-text">2018 - 2021</div>
                        <div class="experience-details">Grade: 3.86 Achieved UTAR Book Prize Award and First Class Honours</div>
                        <br>
                        <div class="experience-title">Foundation in Arts</div>
                        <div class="experience-location">Universiti Tunku Abdul Rahman (UTAR)</div>
                        <div class="experience-date slightly-smaller-text">2017 - 2018</div>
                        <div class="experience-details">Grade: 3.85 Achieved First Class Honours</div>
                        <br>
                        <div class="experience-title">SPM</div>
                        <div class="experience-location">SMJK(C) Perempuan China Pulau Pinang</div>
                        <div class="experience-date slightly-smaller-text">2012 - 2016</div>
                        <div class="experience-details">Grade: 8A 2B</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>