<div class="section-wrapper">
    <section class="section achievements" id="achievements">
        <div>
            <div class="section-heading" id="achievements-text">Achievements</div>

            <div class="scrollmenu">
                <a href="assets/images/achievements/alibabacert.png" target="_blank" style="text-decoration: none;">
                    <div class="horizontal-card">
                        <p class="paragraph-text horizontal-text">Alibaba Cloud Associate Cloud Computing</p>
                        <div class="horizontal-card-image">
                            <img src="assets/images/organisers/alibaba.png" alt="image">
                        </div>
                    </div>
                </a>
                <a href="https://www.credential.net/43ba5911-a567-41ba-a1c9-8650c285c67a#gs.m28dbr" target="_blank"
                    style="text-decoration: none;">
                    <div class="horizontal-card">
                        <p class="paragraph-text horizontal-text">AWS Cloud Foundation </p>

                        <div class="horizontal-card-image">
                            <img src="assets/images/organisers/aws.png" alt="image">
                        </div>
                    </div>
                </a>
                <a href="https://www.credential.net/2e380ae6-4d7a-4a4b-8370-ef86ec223e1b" target="_blank"
                    style="text-decoration: none;">
                    <div class="horizontal-card">
                        <p class="paragraph-text horizontal-text">MDEC Microsoft Artificial Intelligence Modules</p>

                        <div class="horizontal-card-image">
                            <img src="assets/images/organisers/microsoft.png" alt="image">
                        </div>
                    </div>
                </a>
                <a href="assets/images/achievements/AWSBuildOnMalaysia2020_Ng Miao Xuan_Certificate.pdf" target="_blank"
                    style="text-decoration: none;">
                    <div class="horizontal-card">
                        <p class="paragraph-text horizontal-text">AWS Build On, Malaysia 2020 (Semi-Finalist)</p>

                        <div class="horizontal-card-image">
                            <img src="assets/images/organisers/aws.png" alt="image">
                        </div>
                    </div>
                </a>
                <a href="assets/images/achievements/F-Secure Cyber Security Competition Malaysia 2020.jpg"
                    target="_blank" style="text-decoration: none;">
                    <div class="horizontal-card">
                        <p class="paragraph-text horizontal-text">F-Secure Cyber Security Competition Malaysia 2020 (Top
                            ten)</p>
                        <div class="horizontal-card-image">
                            <img src="assets/images/organisers/aws.png" alt="image">
                        </div>
                    </div>
                </a>
                <a href="assets/images/achievements/APUbattleofhackers.pdf" target="_blank"
                    style="text-decoration: none;">
                    <div class="horizontal-card">
                        <p class="paragraph-text horizontal-text">APU Battle of Hackers 2020</p>
                        <div class="horizontal-card-image">
                            <img src="assets/images/organisers/apu.png" alt="image">
                        </div>
                    </div>
                </a>
                <a href="assets/images/achievements/TARUCedatahackathon.pdf" target="_blank"
                    style="text-decoration: none;">
                    <div class="horizontal-card">
                        <p class="paragraph-text horizontal-text">TARUC e-data Hackathon 2020</p>
                        <div class="horizontal-card-image">
                            <img src="assets/images/organisers/tarc.png" alt="image">
                        </div>
                    </div>
                </a>

                <div class="horizontal-card">
                    <p class="paragraph-text horizontal-text">Huawei ICT Competition Malaysia 2019, 2018</p>
                    <div class="horizontal-card-image">
                        <img src="assets/images/organisers/huawei.png" alt="image">
                    </div>
                </div>

                <a href="assets/images/achievements/UniKL Game of Hackers - Certificate of Participation.jpg"
                    target="_blank" style="text-decoration: none;">
                    <div class="horizontal-card">
                        <p class="paragraph-text horizontal-text">UniKL Game of Hackers</p>
                        <div class="horizontal-card-image">
                            <img src="assets/images/organisers/unikl.png" alt="image">
                        </div>
                    </div>
                </a>
                <a href="assets/images/achievements/KPMG Cyber Security Challenge 2018 - Certificate of Participation.pdf"
                    target="_blank" style="text-decoration: none;">
                    <div class="horizontal-card">
                        <p class="paragraph-text horizontal-text">KPMG Cyber Security Challenge 2018</p>
                        <div class="horizontal-card-image">
                            <img src="assets/images/organisers/kpmg.png" alt="image">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>