<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="project" class="semi-transparent-button with-border white-button" onclick="selected('project')">Project</a>
                    <a id="programming" class="semi-transparent-button with-border white-button" onclick="selected('programming')">Programming</a>
                    <a id="networking" class="semi-transparent-button with-border white-button" onclick="selected('networking')">Networking</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">Security</a>
                    <a id="ai" class="semi-transparent-button with-border white-button" onclick="selected('ai')">AI</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>